.header-action {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.img-wrapper {
  border: 1px solid lightgray;
  border-radius: 4px;
  max-height: 20rem;
  height: 20rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
